<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar custom-sidebar"
  [class.open]="isSidebarOpen"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none fs-4 fw-bold"
  >
    <i class="bi bi-briefcase-fill me-2"></i>
    HireNet
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link active" aria-current="page">
        <i class="bi bi-house-door me-2"></i>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/dashboard" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/chats" class="nav-link text-white">
        <i class="bi bi-chat-dots-fill"></i>
        Chats
      </a>
    </li>
    <li>
      <a routerLink="/jobs" class="nav-link text-white">
        <i class="bi bi-briefcase-fill"></i>
        Jobs
      </a>
    </li>
    <li>
      <a routerLink="/profile" class="nav-link text-white">
        <i class="bi bi-person"></i>
        Profile
      </a>
    </li>
  </ul>
  <!-- <hr /> -->
  <!-- <div class="dropdown">
    
    <label class="switch">
      <input type="checkbox" (change)="toggleTheme($event)" />
      <span class="slider round"></span>
    </label>

    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://avatars.githubusercontent.com/u/1?v=4"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div> -->
</div>
