.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #030303 !important;
  padding: 20px;
  color: #F1EFEC;
  overflow-y: auto;
}
/* styles.css */
.dark-mode {
  background-color: #121212;
  color: white;
}


/* .sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh;
  background-color: #030303;
  color: #F1EFEC;
  transition: left 0.3s ease;
  z-index: 2000;
  padding: 20px;
} */

.sidebar.open {
  left: 0;
}


.sidebar .nav-link {
  color: #F1EFEC;
}

.sidebar .nav-link.active {
  background-color: #123458;
  color: #F1EFEC !important;
}



.nav-link:hover {
  background-color: #495057;
  color: #D4C9BE !important;
}

.dropdown-toggle::after {
  margin-left: 0.5rem;
}
