<div class="maincontainer">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg rounded-4 p-4">
          <h3 class="text-center mb-4">Login to Your Account On</h3>
          <form (ngSubmit)="loginUser()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                [(ngModel)]="credentials.email"
                name="email"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                [(ngModel)]="credentials.password"
                name="password"
                class="form-control"
                required
              />
            </div>
            <button class="btn btn-success w-100" type="submit">Login</button>
            <p class="text-center mt-3">
              Don't have an account? <a routerLink="/register">Register</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
