
.container{
    max-width: 700px;
    margin: 0 auto;
}

.card{
    background-color: #D4C9BE;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

h3 {
    color: #123458;
    font-weight: 500;
}

.form-label {
    font-weight: 500;
    color: #123458;
}


.btn{
    background-color: #123458;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    border: 1px solid #123458;
    height: 30px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #123458;
    outline: none;
}

a{
    color: #123458;
    text-decoration: none;
    text-decoration: underline;
}

.btn:hover {
    background-color:white ;
    color: #123458;
    text-decoration: none;
    border: #123458 1px solid;
}

a:hover {

    text-decoration: none;
}

