<div class="maincontaier">
  <div class="containerTop">
    <h4>JOBS</h4>
    <p class="text-muted">Explore job opportunities and find your next career move</p>
    <a class="btn btn-primary" routerLink="/create">
      <i class="bi bi-plus-circle me-2"></i>
      Post a New Job
    </a>
  </div>
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div *ngIf="loading" class="text-gray-500">Loading jobs...</div>
      <div *ngIf="!loading && jobs.length === 0" class="text-red-500">
        No jobs found.
      </div>

      <div class="col" *ngIf="!loading && jobs.length > 0">
      <div class="col"  *ngFor="let job of jobs">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <p class="card-text text-muted">
              {{ job.company }} | {{ job.location }}
            </p>
            <p class="card-text">{{ job.description | slice : 0 : 100 }}...</p>
            <a
            class="btn btn-outline-primary btn-sm"
            [routerLink]="['/jobs', job._id]"
            >View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
